<div class="row">
	<div class="col-sm-12 nav-top">

		<form>
			<div class="row">
				<div class="col-xs-3">
					<input type="text" class="form-control search-top" placeholder="&#xF002; Search">
				</div>
			</div>
		</form>

		<ul class="menu-nav-top">
			<a href="#"><li>HTML</li></a>
			<a href="#"><li>CSS</li></a>
			<a href="#"><li>Javascript</li></a>
			<a href="#"><li>PHP</li></a>
			<a href="#"><li>OTHER</li></a>
		</ul>

	</div><!-- ENDS col -->
</div><!--ENDS row-->



<div class="row">
	<div class="col-sm-12 header-section">
		<p class="pull-right snippet-type">JAVASCRIPT</p>
		<h1>Snippets</h1>
		<p>Grab your favourite code!</p>
	</div><!-- ENDS col -->
</div><!--ENDS row-->
