<!-- Col Left -->
<div class="title">Dashboard</div>
<img src="img/gavin_lovegrove.png" class="center-block">


<div class="user-name">Hello <strong>Gavin</strong> <span class="caret"></span></div>

<h3><i class="fa fa-tasks"></i> Hosting</h3>
<ul class="hosting">
	<a href="#/test"><li><i class="fa fa-plus"></i> Create Client</li></a>
	<a href="#/test"><li><i class="fa fa-search"></i> View Clients</li></a>
</ul>

<h3><i class="fa fa-scissors"></i> Snippets</h3>
<ul class="snippets">
	<a href="#/test"><li><i class="fa fa-plus"></i> Create Snippet</li></a>
	<a href="#/test"><li><i class="fa fa-search"></i> View Snippets</li></a>
	<a href="#/test"><li><i class="fa fa-home"></i> Category</li></a>
</ul>

<ul class="hosting">
	<a href="#/test"><li><i class="fa fa-sign-out"></i> Log Out</li></a>
</ul>


