<div class="row">
	<div class="col-sm-12 search-section">
		<!-- <p class="pull-right">Grab your favourite code!</p> -->

		<div class="row">
			<div class="col-xs-5">
				<p class="snippet-type" ng-if='!theCategory'>Select Category</p>
				<p class="snippet-type">{{theCategory}}</p>
			</div>
		
			<div class="col-xs-7">
				<!-- Note about ng-model="$parent.search.name" -->
				<!-- $parent.search.name => allows as to keep the search filter via ng-include -->
				<input type="text" class="form-control search-top" placeholder="&#xF002; Search" ng-model="$parent.search">
			</div>
		</div><!--ENDS row-->

	</div><!-- ENDS col -->
</div><!--ENDS row-->