<div class="container-fluid full-height">
	<div class="row full-height">

		<div class="col-md-2 col-sm-3 nav-side full-height">

			<!-- INCLUDE (nav-side.html) partial -->
			<span ng-include="'partials/_includes/nav-side.html'"></span>
	
		</div><!-- ENDS col -->


		<div class="col-lg-10 col-md-10 col-sm-9 col-right full-height">

			<!-- Include (nav-top.html) partial -->
			<span ng-include="'partials/_includes/nav-top.html'"></span>


			<!-- Include (xxxxxxx.html) partial -->
			<span ng-include="'partials/test.html'"></span>


		</div><!-- ENDS col -->

	</div><!--ENDS row-->
</div><!--ENDS container-->