<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">


			<!-- I'm a comment that changed -->
			<form name="loginForm" key-down class="form-horizontal login" ng-submit="loginForm.$valid && login()" novalidate>

				<fieldset>

					<img src="img/gavin_lovegrove.png" ng-click="nextForm('b')" width="100" height="auto" class="center-block logo-img">
					<img src="img/LD_Logo.svg" width="260" height="auto" class="center-block hidden-xs">
					<img src="img/LD_Logo.svg" width="160" height="auto" class="center-block visible-xs">

					<div class="cg-top-container">

						<!-- USERNAME -->
						<div class="control-group cg-top" ng-class="(move) ? 'input-hide' : 'input-show'">
							<label class="control-label" for="email"></label>
							<input type="email" name="email" id="email" class="form-control input-lg ng-pristine ng-invalid" placeholder="Username" ng-model="credentials.email" required>

							<br>

							<span class="btn btn-info btn-block" ng-class="(!loginForm.$valid) ? 'disable-href' : ''" ng-click="nextForm('f')">Next <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
						</div>

					


						<!-- PASSWORD -->
						<div class="control-group cg-top" ng-class="(move) ? 'input-show' : 'input-hide'">
							<label class="control-label" for="password"></label>
							<input type="password" name="password" id="password" class="form-control input-lg ng-pristine ng-invalid"  placeholder="Password" ng-model="credentials.password" required>

							<br>
						
							<button type="submit" class="btn btn-info btn-block" data-trigger-change="#password,#email" ng-show="!flash" ng-disabled="!loginForm.$valid">Sign in  <i class="fa fa-check"></i></button>

							<button type="submit" class="btn btn-danger btn-block" data-trigger-change="#password,#email" ng-show="flash"><i class="fa fa-refresh fa-spin"></i> {{flash}}</button>
						</div>

					</div><!-- ENDS cg-top-container -->

				</fieldset><!-- ENDS fieldset -->
				
										
			</form><!-- ENDS form -->


		</div><!-- ENDS col -->
	</div><!-- ENDS row -->
</div><!-- ENDS container -->

