<!-- Include (nav-top.html) partial -->
<div ng-include="'partials/_includes/nav-top.html'"></div>

<div class="row full-height">

	<div class="col-md-2 col-sm-3 nav-side full-height">

		<!-- INCLUDE (nav-side.html) partial -->
		<span ng-include="'partials/_includes/nav-side.html'"></span>
		
	</div><!-- ENDS col -->


	<div class="col-lg-10 col-md-10 col-sm-9 col-right full-height">

		<!-- Include (nav-search.html) partial -->
		<div ng-include="'partials/_includes/nav-search.html'"></div>

		<!-- START MAIN CONTENT -->
		<div class="snippets-category">
			
			<ul>
				<a href="#/snippet-category/{{category.id}}" ng-repeat="category in categories" ng-click="showCategory(category.category);"><li>{{category.category}}</li></a>
			</ul>

		</div>
		

		<!-- LIST SNIPPET TITLES FOR EACH CATEGORY -->
		<div class="snippets-list feature">
			<h3 class="pull-right">Total Snippets: <span class="badge">{{numSnippets}}</span></h3>
			<h3>All Code Snippets</h3>
			<ul>
				<a ng-repeat="snippet in snippets.name | filter:search" href="#/snippets/{{snippet.id}}" ><li>{{snippet.name}}</li></a>
			</ul>
		</div>



	</div><!-- ENDS col -->

</div><!--ENDS row