<!-- Include (nav-top.html) partial -->
<div ng-include="'partials/_includes/nav-top.html'"></div>

<div class="row full-height">

	<div class="col-md-2 col-sm-3 nav-side full-height">

		<!-- INCLUDE (nav-side.html) partial -->
		<span ng-include="'partials/_includes/nav-side.html'"></span>
		
	</div><!-- ENDS col -->


	<div class="col-lg-10 col-md-10 col-sm-9 col-right full-height">

		<!-- Include (nav-search.html) partial -->
		<div ng-include="'partials/_includes/nav-search.html'"></div>

		
		<h3 ng-cloak>{{addSnippetMessage}}</h3>

		<!-- START MAIN CONTENT -->
		<form name="createSnippetForm" class="feature" ng-submit="createSnippetForm.$valid && createNewSnippet()" novalidate>

			<h3>Create a Snippet</h3>

			<fieldset class="category">

				<div class="form-group">
					<label class="radio-inline" ng-repeat="cat in categories">
						<input type="radio" ng-value="cat.id" class="catRadio" name="category" ng-model="$parent.addSnippet.category" ng-click="showCategory(cat.category);" required> {{cat.category}}
						<i class="fa fa-check fa-symbol"></i>
					</label>
				</div>

				<div class="row form-group">
					<div class="col-sm-6">
						<input type="text" class="form-control ng-pristine ng-invalid" ng-model="addSnippet.name" placeholder="Snippet Name" ng-minlength="3" required>
					</div>
					<div class="col-sm-4">
						<input type="url" class="form-control ng-pristine ng-invalid" ng-model="addSnippet.reference_url" placeholder="Snippet URL Ref">
					</div>
					<div class="col-sm-2">
						<button class="btn btn-info btn-block" ng-disabled="!createSnippetForm.$valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
					</div>
				</div>

				<div class="form-group">
					<textarea class="form-control snippet-textarea" ng-model="addSnippet.snippet" rows="20" ng-minlength="8" required></textarea>
				</div>
				
			</fieldset>
		</form>
		
		

	</div><!-- ENDS col -->

</div><!--ENDS row-->