<!-- Include (nav-top.html) partial -->
<div ng-include="'partials/_includes/nav-top.html'"></div>

<div class="row full-height">

	<div class="col-md-2 col-sm-3 nav-side full-height">

		<!-- INCLUDE (nav-side.html) partial -->
		<span ng-include="'partials/_includes/nav-side.html'" id="side-nav"></span>
		
	</div><!-- ENDS col -->


	<div class="col-lg-10 col-md-10 col-sm-9 col-right full-height">

		<!-- Include (nav-search.html) partial -->
		<div ng-include="'partials/_includes/nav-search.html'"></div>

		<!-- Include (the-categories.html) partial -->
		<div ng-include="'partials/the-categories.html'"></div>


		<div class="feature">
			<h3 class="pull-right"><strong>SITE REFERENCE: <a ng-href="{{snippets.reference_url}}" target="_blank">WEBSITE</a></strong></h3>
			<h3>{{snippets.name}}</h3>
			<pre id="pre" class="prettyprint linenums" select-on-click>{{snippets.snippet}}</pre>

			<a href="#/snippets/edit/{{snippets.id}}" class="btn btn-md btn-info" ng-click="editSnippet(snippets.name, snippets.id)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Snippet</a>

			<a href="#/snippets/{{snippets.id}}" class="btn btn-md btn-info pull-right" ng-click="deleteSnippet(snippets.id)"><i class="fa fa-trash" aria-hidden="true"></i> Delete Snippet</a>
		</div>



	</div><!-- ENDS col -->

</div><!--ENDS row-->