<!-- Include (nav-top.html) partial -->
<div ng-include="'partials/_includes/nav-top.html'"></div>

<div class="row full-height">

	<div class="col-md-2 col-sm-3 nav-side full-height">

		<!-- INCLUDE (nav-side.html) partial -->
		<span ng-include="'partials/_includes/nav-side.html'"></span>
		
	</div><!-- ENDS col -->


	<div class="col-lg-10 col-md-10 col-sm-9 col-right full-height">

		<!-- Include (nav-search.html) partial -->
		<div ng-include="'partials/_includes/nav-search.html'"></div>


		<!-- SHOW CATEGORY BUTTONS (i.e. CSS, jQuery, PHP) -->
		<div class="snippets-category">
			<p>snippet-cat-list.html</p>
			<ul>
				<a href="#/snippets"><li>All</li></a><a href="#/snippet-category/{{showCat.id}}" ng-repeat="showCat in allSnippets.all_snippetCats" ng-click="showCategory(showCat.category);"><li>{{showCat.category}}</li></a>
			</ul>
		</div>

		<!-- LIST SNIPPET TITLES FOR EACH CATEGORY -->
		<div class="snippets-list">
			<ul>
				<a ng-repeat="catSnippet in catSnippets | filter:search:strict" href="#/snippets/{{catSnippet.id}}" ><li>{{catSnippet.name}}</li></a>
			</ul>
		</div>


	</div><!-- ENDS col -->

</div><!--ENDS row-->