<!-- Include (nav-top.html) partial -->
<div ng-include="'partials/_includes/nav-top.html'"></div>

<div class="row full-height">

	<div class="col-md-2 col-sm-3 nav-side full-height">

		<!-- INCLUDE (nav-side.html) partial -->
		<span ng-include="'partials/_includes/nav-side.html'"></span>
		
	</div><!-- ENDS col -->


	<div class="col-lg-10 col-md-10 col-sm-9 col-right full-height">

		<!-- Include (nav-search.html) partial -->
		<div ng-include="'partials/_includes/nav-search.html'"></div>


		<!-- START MAIN CONTENT -->
		<div class="snippets-category">

			<p>snippet-edit.html (snippetCtrl)</p>

			<ul>
				<a href="#/snippet-category/{{category.id}}" ng-repeat="category in categories" ng-click="showCategory(category.category);"><li>{{category.category}}</li></a>
			</ul>
		</div>


		<form novalidate="novalidate" class="feature">
			<fieldset class="category">
				<div class="row form-group">
					<div class="col-sm-6">
						<input type="hidden" ng-value="{{snippets.id}}" ng-model="snippets.id">
						<input type="text" class="form-control" ng-value="{{snippets.name}}" ng-model="snippets.name">
					</div>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-value="{{snippets.reference_url}}" ng-model="snippets.reference_url">
					</div>
					<div class="col-sm-2">
						<button ng-click="updateSnippet()" class="btn btn-md btn-info">Save Snippet</button>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-12">
						<textarea class="form-control snippet-textarea" ng-model="snippets.snippet">{{snippets.snippet}}</textarea>
					</div>
				</div>
			</fieldset>
		</form>


	</div><!-- ENDS col -->

</div><!--ENDS row-->