<div class="main-content">

	<div class="row">
		<div class="col-sm-6">
			<div class="feature">
				<h3>This is a Header</h3>
				<p>
					2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu viverra diam. Phasellus imperdiet nunc nulla, eu ullamcorper felis lobortis vitae. Donec euismod odio in sapien vehicula, vitae tincidunt lectus lobortis. Sed justo lorem, pretium ut tristique nec, cursus ac arcu.
				</p>
			</div>
		</div><!--ENDS col-->

		<div class="col-sm-6">
			<div class="feature">
				<h3>This is a Header</h3>
				<p>
					2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu viverra diam. Phasellus imperdiet nunc nulla, eu ullamcorper felis lobortis vitae. Donec euismod odio in sapien vehicula, vitae tincidunt lectus lobortis. Sed justo lorem, pretium ut tristique nec, cursus ac arcu.
				</p>
			</div>
		</div><!--ENDS col-->
	</div><!--ENDS row-->



	<div class="row">
		<div class="col-sm-12">
			<div class="feature">
				<h3>This is a Header</h3>
				<p>
					2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu viverra diam. Phasellus imperdiet nunc nulla, eu ullamcorper felis lobortis vitae. Donec euismod odio in sapien vehicula, vitae tincidunt lectus lobortis. Sed justo lorem, pretium ut tristique nec, cursus ac arcu.
				</p>
			</div>
		</div><!--ENDS col-->
	</div><!--ENDS row-->


</div>
