<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 col-sm-3 col-left">

			<!-- Include (header) partials -->
			<div ng-include="'partials/_includes/col-left.html'"></div>

		</div>

		<div class="col-md-10 col-sm-9">

			<!-- Include (header) partials -->
			<div ng-include="'partials/_includes/col-left-nav.html'"></div>

			<h1>Test Page</h1>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu viverra diam. Phasellus imperdiet nunc nulla, eu ullamcorper felis lobortis vitae. Donec euismod odio in sapien vehicula, vitae tincidunt lectus lobortis. Sed justo lorem, pretium ut tristique nec, cursus ac arcu. Quisque vitae tortor tortor. Sed ut quam pulvinar, vulputate leo vitae, aliquam quam. Praesent quis lectus tortor. Donec ultrices viverra ultrices. Vivamus lobortis eu justo eget placerat. Maecenas blandit nisl eu nibh faucibus porta. Praesent mi dui, ultricies ut dolor ut, efficitur feugiat velit. Mauris lacus nisi, placerat sed blandit non, placerat nec diam. 
			</p>

		</div>

	</div><!--ENDS row-->
</div><!--ENDS container-->